.page-id-5 {

	input[type=text], input[type=email] {
	    padding: 10px 6px;
	}

	.wpcf7-form-control-wrap {
	    position: relative;
	    margin: 8px 0 0;
	    display: block;
	}

	.entry-content p {
	    margin-bottom: 20px;
		img {
		    margin: 0;
		}
	}
}