.logo-cats {
    position: absolute;
    top: 30px;	
	max-width: 236px;
}

.menu-header-container {
	text-align: right;
	margin-top: 30px;
}

#header-content {
    padding: 0 0 20px;
}

#header-menu {

	ul.menu {
		display: inline-block;
		li {
			border: 0;

			&:hover {
				a {
					color: $clr_blue;
				}
			}
			a {
				color: black;
				font-size: 15px;
				text-transform: uppercase;
				padding: 0 15px;
			}
		}
	}
}